@font-face {
    font-family: "Circular Std";
    src: url("../../fonts/circular-std-medium-500.ttf") format("truetype");
}
@font-face {
    font-family: "Inter";
    src: url("../../fonts/Inter/Inter-Medium.ttf") format("truetype");
}

h1 {
    font-size: var(--font-size-huge);
}

h3 {
    font-size: var(--font-size-big);
}

h4 {
    font-size: var(--font-size-large);
}

h5 {
    font-size: var(--font-size-normal);
}

h6 {
    font-size: var(--font-size-normal);
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: var(--font-size-56);
    }

    h3 {
        font-size: var(--font-size-huge);
    }

    h5 {
        font-size: var(--font-size-28);
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: var(--font-size-max);
    }

    h3 {
        font-size: var(--font-size-44);
    }
}

.text {
    font-family: "Circular Std", Arial, sans-serif;
    color: var(--font-color);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-medium);
}

.text--huge {
    font-size: var(--font-size-huge);
}

.text--white {
    color: var(--background-color);
}

.text--primary {
    color: var(--primary-color);
}

.text--highlight {
    color: var(--secondary-color);
}

.text--orange {
    color: var(--thirdly-color);
}

.text--sub {
    font-family: "Inter", Arial, sans-serif;
    color: var(--sub-color);
    text-decoration: none;
}

.text--small {
    font-size: var(--font-size-small);
}

.text--tiny {
    font-size: var(--font-size-tiny);
}

.text--big {
    font-size: var(--font-size-big);
}

.text--large {
    font-size: var(--font-size-large);
}

.text--light {
    font-weight: var(--font-weight-light);
    line-height: 160%;
}

.text--bold {
    font-weight: var(--font-weight-bold);
}
