.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: stretch;
    justify-self: center;
    gap: 32px;
    padding: 32px;
    border: var(--border-light);
    border-radius: 32px;
    background-color: var(--background-color);
    text-decoration: none;
    cursor: default;
    transition: var(--transition-fast);
    max-width: 350px;
}

.card:hover {
    scale: 1.05;
    box-shadow: var(--box-shadow-medium);
}

.card__caption {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 32px;
    padding: 32px;
}

.card__caption__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__caption__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__img:hover {
    scale: 1.1;
    transition: var(--transition-slow);
}
