.graphic-element {
    position: absolute;
}

.graphic-element--1 {
    display: none;
}

@media screen and (min-width: 768px) {
    .graphic-element--1 {
        display: block;
        right: 0;
    }
}
