/* mobile first */
.header__logo {
    grid-area: logo;
    text-decoration: none;
    color: var(--font-color);
}

.navbar {
    grid-area: navbar;
    position: relative;
    align-items: center;
}

.navbar__menu-btn {
    grid-area: menu-btn;
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
}

.navbar__menu {
    display: none;
    transition: opacity 1s ease;
    row-gap: 5px;
}

.navbar__menu__auth-button {
    height: 30px;
    border: var(--boder-light);
    margin-top: 5px;
}

.navbar__menu__link {
    display: flex;
    justify-content: flex-start;
    padding: 2px 10px;
    border-radius: 10px;
    white-space: nowrap;
    text-decoration: none;
}

.header__auth-buttons {
    display: none;
    grid-area: auth-buttons;
    gap: 10px;
}

.header__auth-button {
    padding: 16px 32px;
}

.header {
    display: grid;
    grid-template-areas: "logo navbar";
    align-self: stretch;
    grid-template-columns: auto min-content;
    justify-content: space-between;
    padding: 32px 0;
}

/* special design for mobile*/
@media screen and (max-width: 767px) {
    .navbar:hover .navbar__menu {
        background-color: var(--background-color);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        right: 0;
        width: 90vw;
        padding: 1rem;
        border: var(--boder-light);
        box-shadow: var(--box-shadow-medium);
        border-radius: 15px;
    }

    .navbar:hover .navbar__menu__link:hover {
        box-shadow: var(--box-shadow-medium);
    }
}

/* tablet */
@media screen and (min-width: 768px) {
    .header__auth-buttons {
        display: flex;
    }

    .header {
        grid-template-areas: "navbar logo auth-buttons";
        margin: 0 64px;
    }

    .navbar__menu__auth-buttons {
        display: none;
    }
}

/* special design for tablet  */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .navbar:hover .navbar__menu {
        background-color: var(--background-color);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        left: 0;
        width: 50vw;
        padding: 1rem;
        border: var(--boder-light);
        box-shadow: var(--box-shadow-medium);
        border-radius: 15px;
    }

    .navbar:hover .navbar__menu__link:hover {
        box-shadow: var(--box-shadow-medium);
    }
}

/* desktop */
@media screen and (min-width: 1200px) {
    .navbar {
        display: flex;
    }

    .header__auth-buttons {
        display: flex;
        gap: 10px;
    }

    .navbar__menu-btn {
        display: none;
    }

    .navbar__menu {
        position: static;
        display: flex;
        width: 428px;
        justify-content: space-between;
    }

    .navbar__menu__auth-buttons {
        display: none;
    }

    .header {
        grid-template-areas: "logo navbar auth-buttons";
        margin: 0 128px;
    }
}
