.section {
    position: relative;
    width: 100%;
    max-width: 1184px;
    padding: 32px 0;
    margin: 0 auto;
    gap: 32px;
}

@media screen and (min-width: 768px) {
    .section {
        gap: 64px;
    }
}

.section__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 120%;
}

.section__title .text--highlight {
    letter-spacing: var(--letter-spacing-medium);
}

@media screen and (min-width: 768px) {
    .section__title .text--highlight {
        letter-spacing: var(--letter-spacing-large);
    }
}

.section__title > h1 {
    line-height: 120%;
}

.section__title > h3 {
    line-height: 120%;
}

.section__title > h2 {
    letter-spacing: 0.2em;
}

.container {
    position: relative;
}

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .section {
        padding: 64px 0;
    }
}
