.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 25px;
    background-color: var(--background-color);
    text-decoration: none;
    cursor: pointer;
    border: var(--border-light);
    transition: var(--transition-fast);
}

.btn:hover {
    box-shadow: var(--box-shadow-big);
}

.btn--circle {
    border-radius: 50%;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.btn--primary {
    background-color: var(--primary-color);
}

.btn--secondary {
    background-color: var(--background-color);
}

.btn--pink {
    background-color: var(--secondary-color);
}

.btn--orange {
    background-color: var(--thirdly-color);
}

.btn--yellow {
    background-color: var(--fourthly-color);
}

.btn--sub {
    background-color: var(--sub-color);
}
