html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    position: relative;
    background-color: var(--background-color);
    font-family: "Circular Std", Arial, sans-serif;
    color: var(--font-color);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-medium);
    line-height: 25px;
    width: 100%;
    height: auto;
    padding: 0px 16px;
    margin: 0 auto;
    transition: 0.25s ease;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: "Circular Std", Arial, sans-serif;
}

h2 {
    letter-spacing: 0.2em;
}

h3 {
    line-height: 120%;
}

img {
    -webkit-user-drag: none;
}

@media screen and (min-width: 768px) {
    body {
        padding: 0 32px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        padding: 0 0;
    }
}
