.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

@media screen and (min-width: 1200px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1184px 1fr;
        grid-auto-rows: auto;
    }
}
