/* --------------------
# DESTINATION
----------------------- */

.destination {
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  padding: 0 20px;
}

/* --------------------
# TITLE
----------------------- */

.destination .text-container {
  width: auto;
  flex-direction: row;
  justify-content: space-between;
}

.destination__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.destination__btn {
  padding: 30px;
  border-radius: 30px;
}


.destination__list {
  display: flex;
  height: auto;
  gap: 30px;
}

/* --------------------
# ITEM
----------------------- */

.destination__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  max-width: 370px;
  gap: 30px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background-color: var(--background-color);
  transition: var(--transition-fast);
  cursor: default;
}

.destination__list__item:hover {
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.15);
}

.item__img {
  user-select: none;
  transition: var(--transition-slow);
}

.item__img:hover {
  scale: 1.1;
}

.destination__list__item .text-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 50px 20px;
  gap: 20px;
}

.item__price {
  line-height: 120%;
}

.item__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  max-width: 210px;
  line-height: 120%;
}
