.footer {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 20px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex: none;
  align-items: flex-start;
  width: 500px;
  gap: 15px;
}

.footer__logo {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  > p {
    font-weight: var(--font-weight-bold);
  }
}

.footer__text {
  display: flex;
  font-size: var(--font-size-tiny);
  color: var(--sub-color);
  font-weight: var(--font-weight-light);
}

.footer__socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer__socials__list {
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 20px;
}

.footer__social-icon {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--primary-color);
}

.icon--fb {
  height: 16px;
  width: 19px;
  background-color: #fff;
}

.footer__info {
  display: flex;
  flex: none;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 70px;
}

.footer__info__item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 10px;
}

.footer__info__list {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;
  padding: 0;
}

.footer__link {
  cursor: pointer;
  color: var(--sub-color);
  font-size: var(--font-size-small);
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
  transition: var(--transition-fast);
}

.footer__info__text {
  color: var(--sub-color);
  font-size: var(--font-size-small);
}
