.get-start-section {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  row-gap: 70px;
}

.get-start__image-container {
  position: relative;
  display: inline-block;
  width: 750px;
  height: 620px;
}

.get-start__image-earth {
  position: absolute;
  top: 0;
  left: 0;
  width: 660px;
  z-index: 0;
}

.get-start__image-destinations {
  position: relative;
  display: flex;
  justify-self: center;
  top: 70px;
  left: 12%;
  width: 500px;
}

.get-start__image__btn {
  position: absolute;
  color: var(--font-color);
}

.icon--send {
  top: 300px;
  left: 50px;
}

.icon--add {
  left: 400px;
  bottom: 0;
}

.icon--location {
  bottom: 200px;
  right: 20px;
}

.get-start__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 15px;
  width: 412px;
}

.get-start__title {
  margin: 20px 0;
  font-size: var(--font-size-huge);
  line-height: 120%;
}

.get-start__text {
  line-height: 160%;
}
