html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --width-max: 1440px;
  --background-color: #e8e8e8;
  --primary-color: #5d50c6;
  --secondary-color: #f85e9f;
  --thirdly-color: #ff5722;
  --fourthly-color: #facd49;
  --font-color: #19182580 50% transparent;
  --sub-color: #19182580;
  --highlight-color: ##f85e9f;
  --font-size-tiny: 15px;
  --font-size-small: 18px;
  --font-size-normal: 24px;
  --font-size-big: 35px;
  --font-size-large: 44px;
  --font-size-huge: 69px;
  --font-weight-light: 450;
  --font-weight-medium: 700;
  --font-weight-bold: 900;
  --transition-fast: 0.25s ease;
  --transition-slow: 0.5s ease;
}

body {
  background-color: var(--background-color);
  font-family: "Circular Std Medium", Arial, sans-serif;
  color: var(--font-color);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-medium);
  line-height: 25px;
  width: 100%;
  height: auto;
  padding: 40px 0;
  margin: 0 auto;
  transition: 0.25s ease;
}

h1,
h2,
h3 {
  font-family: "Circular Std Medium", Arial, sans-serif;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  padding: 64px 0px;
  gap: 150px;
}

.content-section {
  display: flex;
  flex-wrap: wrap;
}

.text--normal {
  color: var(--font-color);
  font-size: var(--font-size-normal);
}

.text--highlight {
  color: var(--secondary-color);
}

.text--sub {
  color: var(--sub-color);
}

.text--small {
  font-size: var(--font-size-small);
}

.text--tiny {
  font-size: var(--font-size-tiny);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  background-color: var(--background-color);
  text-decoration: none;
  font-size: var(--font-size-tiny);
  cursor: pointer;
  transition: var(--transition-fast);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  scale: 1.1;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--icon {
  padding: 15px;
  border-radius: 100%;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.btn--primary {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.btn--secondary {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.btn--pink {
  background-color: var(--secondary-color);
}

.btn--orange {
  background-color: var(--thirdly-color);
}
