@font-face {
  font-family: "Circular Std";
  src: url("../fonts/circular-std-medium-500.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --width-max: 1440px;
  --background-color: #fff;
  --primary-color: #5d50c6;
  --secondary-color: #f85e9f;
  --thirdly-color: #ff5722;
  --fourthly-color: #facd49;
  --font-color: #191825;
  --sub-color: #19182580;
  --highlight-color: ##f85e9f;
  --font-size-tiny: 14px;
  --font-size-small: 18px;
  --font-size-normal: 24px;
  --font-size-big: 35px;
  --font-size-large: 44px;
  --font-size-huge: 69px;
  --font-weight-light: 400;
  --font-weight-medium: 700;
  --font-weight-bold: 900;
  --transition-fast: 0.25s ease;
  --transition-slow: 0.5s ease;
}

body {
  background-color: var(--background-color);
  font-family: "Circular Std", Arial, sans-serif;
  color: var(--font-color);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-medium);
  line-height: 25px;
  height: auto;
  padding: 40px 0;
  margin: 0 auto;
  transition: 0.25s ease;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Circular Std", Arial, sans-serif;
}

img {
  -webkit-user-drag: none;
}

/* ------------------
# CONTENT
------------------ */

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  padding: 64px 0px;
  gap: 150px;
  overflow: visible;
  max-width: 100vw;
}

.section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
}

.image-container {
  position: relative;
}

/* ------------------
# TEXT
------------------ */

.section__title {
  gap: 30px;
  line-height: 120%;
}

.section__title > h3 {
  line-height: 120%;
}

.section__title > h2 {
  letter-spacing: 0.2em;
}

.text {
  font-family: "Circular Std", Arial, sans-serif;
  color: var(--font-color);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-medium);
}


.text--huge {
  font-size: var(--font-size-huge);
}

.text--highlight {
  color: var(--secondary-color);
}

.text--orange {
  color: var(--thirdly-color);
}

.text--sub {
  font-family: 'Inter';
  color: var(--sub-color);
}

.text--small {
  font-size: var(--font-size-small);
}

.text--tiny {
  font-size: var(--font-size-tiny);
}

.text--big {
  font-size: var(--font-size-big);
}

.text--large {
  font-size: var(--font-size-large);
}

.text--light {
  font-weight: var(--font-weight-light);
}

/* ------------------
# BUTTON
------------------ */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 15px 30px;
  border-radius: 25px;
  background-color: var(--background-color);
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition-fast);
  box-shadow: 0px 77px 31px rgba(0, 0, 0, 0.01);
  border: 1px solid #eeeeee;
}

.btn:hover {
  scale: 1.1;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--icon {
  padding: 15px;
  border-radius: 100%;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.btn--primary {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.btn--secondary {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.btn--pink {
  background-color: var(--secondary-color);
}

.btn--orange {
  background-color: var(--thirdly-color);
}

.btn--yellow {
  background-color: var(--fourthly-color);
}

.btn--sub {
  background-color: var(--sub-color);
}
