.header {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0 20px 20px 20px;
}

.header__logo {
  display: flex;
  cursor: pointer;
  gap: 15px;
  > p {
    font-weight: var(--font-weight-bold);
  }
}

.header__nav {
  display: flex;
}

.navbar__menu{
  display: flex;
  list-style-type: none;
  margin: 0 40px;
  padding: 0;
  column-gap: 35px;
}

.navbar__menu__item {
  display: flex;
  flex: none;
  align-items: center;
  margin-right: 30px;
}

.navbar__menu__item:hover {
  scale: 1.2;
  transition: var(--transition-slow);
}

.navbar__menu__link {
  color: var(--sub-color);
  font-size: var(--font-size-smaller);
  text-decoration: none;
}

.navbar__menu__link:hover {
  text-decoration: underline;
}

.header__auth-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.header__button {
  display: inline-block;
  flex: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  font-size: var(--font-size-smaller);
  transition: var(--transition-fast);
}

.header__button:hover {
  scale: 1.1;
}

.header__button--login {
  order: 0;
  background-color: var(--background-color);
  color: var(--font-color);
}

.header__button--signup {
  order: 1;
  background-color: var(--primary-color);
  color: var(--background-color);
}
