/* -----------
#HEADER  
-------------- */
.header {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--width-max);
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

/* -----------
#LOGO 
-------------- */

.header__logo {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.header__logo > p {
  font-weight: var(--font-weight-bold);
}

/* -----------
#NAV
-------------- */

.header__nav {
  display: flex;
}

.navbar__menu {
  display: flex;
  list-style-type: none;
  margin: 0 40px;
  padding: 0;
  column-gap: 35px;
}

.navbar__menu__item {
  display: flex;
  flex: none;
  align-items: center;
  margin-right: 30px;
}

.navbar__menu__item:hover {
  scale: 1.2;
  transition: var(--transition-slow);
}

.navbar__menu__link {
  color: var(--sub-color);
  font-size: var(--font-size-tiny);
  text-decoration: none;
}

.navbar__menu__link:hover {
  text-decoration: underline;
}

/* ---------------
#AUTH BUTTONS
------------------ */

.header__auth-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.header__button {
  display: inline-block;
  flex: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  font-size: var(--font-size-tiny);
  transition: var(--transition-fast);
}

.header__button:hover {
  scale: 1.1;
}

.header__button--login {
  order: 0;
  background-color: var(--background-color);
  color: var(--font-color);
}

.header__button--signup {
  order: 1;
  background-color: var(--primary-color);
  color: var(--background-color);
}
