@import url(./reset.css);
@import url(./global.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./get-start.css);
@import url(./sponsor.css);
@import url(./service.css);
@import url(./destination.css);
@import url(./travel-point.css);
@import url(./key-feature.css);
@import url(./testimonial.css);