.key-feature {
  position: relative;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.key-feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding: 0 30px;
}

.key-feature__text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 550px;
  gap: 50px;
}

.key-feature__title {
  display: flex;
  flex-direction: column;
  align-items: flex;
  justify-content: center;
}

.key-feature__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;
}

.key-feature__item {
  display: flex;
  flex: none;
  justify-content: flex-start;
  gap: 30px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  border-radius: 25px;
  padding: 30px;
  cursor: default;
  transition: var(--transition-fast);
}

.key-feature__item:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.key-feature__item__icon {
  padding: 30px;
  border-radius: 30px;
}

.key-feature__item__description {
  line-height: 150%;
  gap: 30px;
}
