.testimonial {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 300px;
  padding: 50px 0;
  overflow: visible;
}

.testimonial__bg {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
  z-index: -1;
  opacity: 0.2;
  width: 100vw;
}

.testimonial .container {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.testimonial__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 700px;
  gap: 40px;
}

.testimonial__content__name {
  font-size: 28px;
  color: rgba(25, 24, 37, 0.75);
}

.testimonial__content__rating {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.testimonial__btn {
  padding: 30px;
}

.testimonial__content__nav {
  display: flex;
  column-gap: 20px;
}
