/* ----------------
#TRAVEL POINT
------------------- */

.travel-point {
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
  margin-left: 0;
}

.travel-point .container {
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  gap: 70px;
  padding: 0 30px;
}

/* ----------------
#TITLE
------------------- */

.travel-point__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.travel-point__list {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

/* ----------------
#ITEM
------------------- */

.travel-point__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  border-radius: 25px;
  padding: 30px;
  background-color: var(--background-color);
  transition: var(--transition-fast);
  cursor: default;
  width: 220px;
}

.travel-point__list__item:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
.travel-point__btn {
  position: absolute;
  top: 35%;
  right: 10px;
}

.travel-point__btn:hover {
  cursor: pointer;
  scale: 1.1;
}

.icon-coupon {
  width: 50px;
}
