/* ----------------
# TRAVEL POINT
------------------- */

.travel-point {
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0;
  gap: 125px;
}

.travel-point__img {
  width: 871px;
  height: 697px;
}

.travel-point .container {
  flex-direction: column;
  align-items: stretch;
  gap: 70px;
  padding: 0 30px;
  width: 495px;
}

/* ----------------
# TITLE
------------------- */

.travel-point__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.travel-point__list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

/* ----------------
# ITEM
------------------- */

.travel-point__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  border-radius: 25px;
  padding: 16px;
  background-color: var(--background-color);
  transition: var(--transition-fast);
  cursor: default;
  width: 200px;
  height: 150px;
}

.travel-point__list__item:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.travel-point__btn {
  position: absolute;
  top: 32%;
  right: -8%;
}
